* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    border: 1px solid black;
    background-image: url('../imgs/basketballMini.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.for-mid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('../imgs/basketballBack.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}